
/*(text-11) = (Текст - Размер Текста)*/
.text-64{
    font-size: 64px;
	line-height: 65.5px;
    font-weight: 400;
	color: #fff;
    text-align: center;
    margin: 10px;
}
.text-60{
    font-size: 60px;
	line-height: 50px;
	font-weight: 400;
	color: #fff;
    text-align: center;
    margin: 10px;
}
.text-48{
	font-size: 48px;
	line-height: 65.5px;
    font-weight: 400;
	color: #fff;
	text-align: center;
    margin: 10px;
}
.text-42{
    font-size: 42px;
    line-height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 10px;
}
.text-36{
    font-size: 36px;
	line-height: 41px;
    font-weight: 400;
	color: #fff;
    text-align: center;
    margin: 10px;
}
.text-32{
	font-size: 32px;
	line-height: 37px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}
.text-31{
    font-size: 31px;
    line-height: 41px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 10px;
}